{% extends 'base.html' %}

{% block content %}
    {% include '_header.html' %}
    {% include '_hero.html' %}
    {% include '_b2b_offer.html' %}
    {% include '_ai_chat.html' %}
    {% include '_b2b_stats.html' %}
    {% include '_b2b_models.html' %}
    {% include '_b2b_steps.html' %}
    {% include '_b2b_why.html' %}
    {% include '_b2b_testimonials.html' %}
    {% include '_b2b_faq.html' %}
    {% include '_b2b_cta.html' %}
{% endblock %}

{% block scripts %}
    <!-- Специфические скрипты страницы (если нужны) -->
{% endblock %}